body{
  background-color: #000;
}

.component-adm{
    display: flex;
    width: 1200px ;
    height: 723px;
    border-radius: 35px;
    background-image: linear-gradient(to left, #fff 0, #fff 85%, #5B9DFF 15%);
    margin: auto auto;

    .side-menu-links{
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #fff;
    }


}