.page_pagamento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    label, option, button, p{
        font-family: 'mukta-regular';
    }
    label{
        color: #4889EA;
    }

    .pp_fundo{
        display: flex;
        flex-direction: column;
        align-items: center;

        
        background-color: #fff;
        border-radius: 30px;
        margin-bottom: 10em;
        margin-top: 10em;
        
        .card_input{
            display: flex;
            flex-direction: column;
    
            margin: 10px 40px;
            input{
                outline: none;
                width:300px;
                border: none;
                border-bottom: 1px solid #4889EA;
                padding-left: 25px;
            }
           
        }
        button{
            width: 10em;
            height:2.5em;
            margin-bottom: 10px;
            :hover{
                cursor: pointer;
            }
        }
    }
    .fx_seletor{
        display: flex;
        flex-direction: row;
        align-items: center;
        p{
            margin-top: 0;
            margin-left: 1em;
        }
    }
    .seletor{
        
        border: none;
        background-color: #e3e3e3;
        margin-left: 40px;
        border-radius: 10px;
        padding: 0px 10px;
        
        :hover{
            cursor: pointer;
        }
    }


}