.pg_sobre{
    display: flex;
    flex-direction: column;
    .fx_branca{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 80vh;
        
        background-color: #fff;
        .fb_textos p, h1{
            color: black;
        }
    }
    .fx_azul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 60vh;
        background-color: #4889ea;
        .fa_textos p, h1{
            color: white;
        }
    }

    .text-f1{
        max-width: 30vh;
    }

    .img_questao1{
        width: 30vh;
        height: 30vh;
        margin-top: 2em;
    }
    .img_doacao1{
        width: 30vh;
        height: 30vh;
        margin-top: 2em;
    }
    .img_300{
        width: 30vh;
        height: 30vh;
        margin-top: 2em;
    
    }

    .fx_contribua{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30vh;
    }

    .botao{
        border-radius: 20px;
        color: #fff;
        width: 32vh;
        height: 9vh;
    }

    h1{
        font-family: 'kanit-semibold';
    }
    p{
        font-family: 'kanit-regular';
    }
}