@font-face {
    font-family: 'kanit-regular' ;
    src: url(../public/assets/fonts/kanit/Kanit-Regular.ttf);
}
@font-face {
    font-family: 'kanit-semibold';
    src: url(../public/assets/fonts/kanit/Kanit-SemiBold.ttf);
}



