
@font-face {
    font-family: 'kanit-regular' ;
    src: url(../public/assets/fonts/kanit/Kanit-Regular.ttf);
}
@font-face {
    font-family: 'kanit-semibold';
    src: url(../public/assets/fonts/kanit/Kanit-SemiBold.ttf);
}
@font-face {
    font-family: 'mukta-regular';
    src: url(../public/assets/fonts/mukta/Mukta-Regular.ttf);
}

@font-face {
    font-family: 'k2d-semibold' ;
    src: url(../public/assets/fonts/k2d/K2D-SemiBold.ttf);
}

html{
    scroll-behavior: smooth
}

.font-k2d-semibold{
    font-family: 'k2d-semibold';
}

.font-size-0-7em{
    font-size: 0.7em;
}

.margin-top-1{
    margin-top: 1em;
}

.fff{
    color: #fff !important;
}

.color-text-black{
    color: #23272A !important;
}

.flex{
    display: flex;
}

.fd-column{
    flex-direction: column;
}

.space-around{
    justify-content: space-around;
}

.align-itens-center{
    align-items: center;
}

.jc-center{
    justify-content: center;
}

.align-itens-end{
    align-items: flex-end;
}

.jc-space-between{
    justify-content: space-between;
}

.pointer{
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 8px;
    background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
    background: #4889EA;
    border-radius: 5px;
}

