.bem-vindo-adm{
    margin-top: 10em;
    margin-left: 20em;
}

.line-adm{
    background-color: #4889EA;
    height: 15px;
    width: 1.5px;
    margin-right: 1em;
    margin-top: 2.8em;
    margin-left: 1em;
}

.animation-hover-menu:hover{
    color: #ee4d4d;
}