*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.asideMenu{
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
    background-color: #5B9DFF ;
    width: 30vh;
    height: 80vh;
}