*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar{
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    background-color: #4889EA;
    padding: 1em;
    height: 20vh;

    .list{
        display: flex;
        list-style: none;
        align-items: center;
    }

    .item{
        margin-right: 1em;
    }

    .item a{
        color: #fff;
        text-decoration: none;
        font-family: 'kanit-regular';
    }

    .item a:hover{
        color: #ee4d4d;
    }

    .line{
        background-color: #fff;
        height: 15px;
        width: 1.5px;
        margin-right: 1em;
    }
    
}