.App{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner{
    display: flex;
}

.image{
    min-height: 200px;
    min-width: 400px;
    padding: 14px;
}

.image img{
    width: 100%;
    height: 80%;
    border-radius: 12px;
    pointer-events: none;
}

.carousel{
    cursor: grab;
    overflow: hidden;
}

.botao{
    border-radius: 20px;
    color: #fff;
    width: 30vh;
    height: 6vh;
    margin-top: 3vh;
}