.page{
    width: 1462px ; 
    height: 737px;
    
    p{
        color: white;
    }
    .aaa{
        display: flex;
        flex-direction: column;
    }
      
}
.texto{
    width:300px;
        border: none;
        border-bottom: 1px solid #4889EA;
        padding-left: 25px;
        outline: none;
}