
.a{
    width: 1280px ; 
    min-height: 100vh;
    background-image: url("../../assets/images/fundo.png") ;
    .logo{
        width: 7em;
        height: 5em;
    }
    .cx-login{
        padding-left: 20px;
    }
    
    .cadastrar-adm{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .login{
      display: flex;
      flex-direction: column;
      background-color: white;
      border-radius: 15px;
      width: 25em;
      height: 30em;
     justify-content: center;
    
    
    }
    .bem-vindo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .informacoes{
        width: 100px;
        height: 200px;
        display: flex;
        justify-content: center;
       
        flex-direction: column;
    }
    
    .esqueceu-senha{
        display: flex;
        justify-content: end;
    }
    .bt-entrar{
        width: 187px;
        height: 66px;
        left: 638px;
        top: 534px;
        color: #fff;
        
        background: #4889EA;
        border-radius: 35px;
        border: none;
    }
    .bt-entrar:hover{
        transform: scale(1.01,1.01);
        color:#5794f0
    }
    .botoes{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .cadastre-se{
        cursor: pointer;
    }
    .voltar{
        cursor: pointer;
    }
    .esqueceu-senha{
        color: #4889EA;
        font-size: 15px;
        margin-right: 5px  ;
    }
    .cadastrar{
        color: #4889EA;
        font-size: 15px;
    }
    .voltar{
        color: #4889EA;
    
    }
    .email{
        padding-left: 30px;
    }
    .senha{
        padding-left: 25px;
    }
    
    p{
        display: flex;
        padding-left: 25px;
    }
    a{
        cursor: pointer;
    }
    input{
        width:300px;
        border: none;
        border-bottom: 1px solid #4889EA;
        padding-left: 25px;
        outline: none;
    }
    .tx-senha{
        margin-left: 25px;
    }
    .tx-email{
        margin-left: 25px;
    }
    

}    
