@font-face {
  font-family: 'kanit-regular' ;
  src: url(../../../public/assets/fonts/kanit/Kanit-Regular.ttf);
}
@font-face {
  font-family: 'kanit-semibold';
  src: url(../../../public/assets/fonts/kanit/Kanit-Medium.ttf);
}

.page{
    .side-menu{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 90vw ;
        height: 45vw;
        border-radius: 35px;
        background-image: linear-gradient(to left,  #fff 85%, #5B9DFF 15%);
        margin: auto;
        margin-top: 1.5em;
    }

    .links{
      display: flex;
      float: inline-start;
      flex-direction: column;
      align-items:center;
      color: #fff;
      font-family: 'kanit-regular';

      margin-left: 2em;
    }

    .lupa:hover{
      cursor: pointer;
    }

    input{
      border-radius: 60px;
      box-shadow: 5px 5px 5px rgb(168, 168, 168);
      margin-left: 0.5em;
    }

    .buscar{
      display: flex;
      flex-direction: row;
      margin-left: 5em;
    }

    .card_doador{
      display: flex;
      flex-direction: column;
      width: 50;
      margin-left: 5em;
      border-radius: 20px;
      box-shadow: 5px 5px 5px rgb(168, 168, 168);
    }
    .info_doador{
      margin-top: -1em;
      color: black;
      font-family: 'kanit-regular';
      margin:-1em 1em 0em 1em;
    }
    .Nome{
      color: black;
      font-family: 'kanit-semibold';
      margin: 1em 1em;
    }
}