

.comp-detalhe {
    display: flex;
    align-items: flex-start;

    background-color: #fff;
    padding: 20px 50px 20px 20px;

    img {
        width: 20vw;
        border-radius: 35px;
        margin-right: 30px;
    }

    h1 {
        font: 800 32px 'Inter';
        color: #606060;

        margin-top: 50px;
        margin-bottom: 30px;
    }

    .box-info {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 600px;
    }

    .box-info h1{
        font: 700 2em 'kanit-semibold';
        color: #000000;
        margin-bottom: 5px;
    }

    .info {
        margin-bottom: 30px;
    }
 
    .info p {
        font: 400 16px 'kanit-regular';
        color: #7D7D7D;
    }


    
}