.doacao{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 93vh;
}


.ii{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 600px;
    margin-top: 60px;
    align-items: center;
    border-radius: 30px;
    margin-top: 40px;
}
.img{
    width: 200px;
    height: 200px;
}
h1{
    color: #4889EA;
}
h3{
    color: #4889EA;
}
.botao-3{
    margin-top: 2em;
    color: white;
    border-radius: 10px;
    height: 2em;
    width: 8em;
    background-color: #4889EA;

}