.page{
    align-content: center;
    justify-content: center;
}

.nv-senha{
    background-color: white;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    border-radius: 10px;
}
.proximo{
    background-color: #4889EA;
    color: white;
    border-top: 30px;
    border-radius: 20px;
    margin-top: 20px;
}
.texto{
    width:300px;
        border: none;
        border-bottom: 1px solid #4889EA;
        padding-left: 25px;
        outline: none;
}
.senha{
    
        border: none;
        border-bottom: 1px solid #4889EA;
        outline: none;
}
